/* importando rezetes */
@import url('normalize.css');
@import url('reset.css');

/* padroes do projeto */
:root {
    font-size: clamp(1rem,2vw,1.5rem);
    --bAno: 10vw;
    --boxCurrent: 35%;
    --imgSize: 30%
    max(20px);
}

/* definindo 100% do display */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2e2e2e;
    /* overflow: hidden; */
}


/* disposição dos elementos da agenda */
.calendar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 110px 10fr 0.5fr;
    grid-template-areas:
        'c'
        'd'
        'l';
    background: #0a0a0a;
}



/* controles da agenda */
.control {
    position: relative;
    grid-area: c;
}

.control ul {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    height: 80%;
    width: 90%;
    justify-content: space-between;
}

.control ul li span {
    margin: 0 1rem;
    font-weight: bold;
    color: white;
}

.control ul li button {
    appearance: none;
    border: none;
    border-radius: 100%;
    padding: 0;
    width: var(--bAno);
    height: var(--bAno);
    max-height: 2rem;
    max-width: 2rem;
    font-weight: bold;
    color: white;
    background: #1e1e1e;
}

.month {
    cursor: pointer;
}

.current {
    background: #1e1e1e;
    position: absolute;
    display: flex;
    height: 25%;
    border-radius: 0 0 10px 10px;
    width: var(--boxCurrent);
    top: 0;
    left: calc(50% - (var(--boxCurrent)/2));
}

.theme {
    width: 50%;
    border-right: 2px solid #000000;
    background: url('../img/brightness2.svg') center center no-repeat;
    background-size: var(--imgSize);
    border-radius: 0 0 0 10px;
    transition: all .5s ease-in-out;
}


.currentDate {
    width: 50%;
    background: url('../img/calendar2.svg') center center no-repeat;
    background-size: var(--imgSize);
    border-radius: 0 0 10px 0;
    transition: all .5s ease-in-out;
}


.currentDay {
    background: #5c69a7;
}

.theme:hover {
    background: white url('../img/brightness.svg') center center no-repeat;
    background-size: var(--imgSize);

}

.currentDate:hover {
    background: white url('../img/calendar.svg') center center no-repeat;
    background-size: var(--imgSize);
}

.months {
    height: calc(100% - 110px);
    width: 100%;
    background: #1e1e1e;
    position: absolute;
    z-index: 1;
    right: 100%;
    bottom: 0;
    transition: right 1s ease-in-out;
}

.months-active {
    right: 0%;
}

.months table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}




/* tabela das datas */
.days {
    table-layout: fixed;
    width: 100%;
    grid-area: d;
}

th,td {
    text-align: center;
    color: white;
    vertical-align: middle;
}

.weekend {
    color: #ca1e1e;
}


th {
    font-weight: bold;
}

td {
    width: 100%;
    position: relative;
    transition: all .5s ease-out;
}

.anotherMonth {
    color: #2e2e2e;
}

td:hover  {
    background-color: #b7b7b7;
    color: #0a0a0a;
}

td.weekend:hover {
    background-color: #ca1e1e;
}


/* lista de afazeres */
.list {
    position: relative;
    grid-area: l;
}

.arrown {
    position: absolute;
    top: 10px;
    right: 50%;
    width: 3vw;
    height: 3vw;
    max-width: 0.5rem;
    max-height: 0.5rem;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
}

@media (min-width: 650px) and (max-width: 999px){
    .calendar {
        grid-template-columns: 8fr 0.5fr;
        grid-template-rows: 110px 3fr;
        grid-template-areas:
            'c l'
            'd l';
    }

    .arrown {
        transform: rotate(-135deg);
        top: 55%;
        left: 10px;
        max-width: 0.5rem;
        max-height: 0.5rem;
    }

    .months {
        right: 0;
        bottom: -100%;
        transition: bottom 1s ease-in-out;
    }

    .months-active {
        bottom: 0;
    }


}

@media (min-width: 1000px) {
    .calendar {
        max-height: 790px;
        width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 140px 8fr;
        border-radius: 60px;
        grid-template-areas:
            'c l'
            'd l';
    }
    .arrown {
        display: none;
    }

    tr:nth-child(6) td:nth-child(1) {
        border-bottom-left-radius: 60px;
    }
    
}