/* posicionamento dos elementos */


/* importando  */
@import url('normalize.css');
@import url('reset.css');
@import url('theme/dark.css');

/* definido variaveis e padroes */
:root {
    font-size: clamp(1rem,2vw,1.5rem);
    --bAno: 10vw;
    --boxCurrent: 35%;
    --imgSize: 30%
    max(70%);
    --inputSize: 88%;
    --inputWidth: 95%;
    --buttonSize: 100%;
}

/* definindo 100% do display */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;
}



/* disposição dos elementos da agenda */
.calendar {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 110px 10fr 0.5fr;
    grid-template-areas:
        'c'
        'd'
        'l';

}


/* posicionamento dos elementos da agenda */
.control {
    position: relative;
    grid-area: c;
    cursor: default;

}

.control ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    height: 80%;
    width: 90%;

}

/* botoes da area de controle */
.control ul li button {
    appearance: none;
    border: none;
    border-radius: 100%;
    width: var(--bAno);
    height: var(--bAno);
    max-height: 2rem;
    max-width: 2rem;
    font-weight: bold;
    padding: 0;
    cursor: pointer;

}

.month {
    cursor: pointer;
    
}

.current {
    position: absolute;
    display: flex;
    height: 25%;
    border-radius: 0 0 10px 10px;
    width: var(--boxCurrent);
    top: 0;
    left: calc(50% - (var(--boxCurrent)/2));
    cursor: pointer;
}

.theme {
    width: 50%;
    background: url('../img/brightness2.svg') center center no-repeat;
    background-size: var(--imgSize);
    border-radius: 0 0 0 10px;
    transition: all .5s ease-in-out;

}

.currentDate {
    width: 50%;
    background: url('../img/calendar2.svg') center center no-repeat;
    background-size: var(--imgSize);
    border-radius: 0 0 10px 0;
    transition: all .5s ease-in-out;

}



/* area das dos meses  */
.months {
    width: 100%;
    height: calc(100% - 95px);
    position: absolute;
    right: 100%;
    bottom: 0;
    z-index: 1;
    transition: right 1s ease-in-out;
}

.months-active {
    right: 0%;
}

.months table {
    height: 100%;
    width: 100%;
    table-layout: fixed;

}



/* area dos dias */
.days {
    table-layout: fixed;
    width: 100%;
    grid-area: d;

}

th,td {
    text-align: center;
    vertical-align: middle;
    cursor: default;
}

th {
    font-weight: bold;
    padding-top: 2.5%;

}

td {
    width: 100%;
    position: relative;
}


/* lista de afazeres */

.list {
    grid-area: l;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input {
    border: 1px solid #0f0f0f;
    width: 93%;
    height: 85%;
    position: absolute;
    right: calc(50% - var(--inputWidth)/2);
    top: var(--buttonSize);
    background: #1e1e1e;
    resize: none;
    color: #ffffff;
}

.input:focus {
    outline: none;
}


/* abrindo input */
.input-active {
    grid-template-rows: 110px 10fr 10.5fr;
}

.containerArrown {
    width: 100%;
    height: var(--buttonSize);
    position: relative;
}

.arrown {
    position: absolute;
    top: 10px;
    right: calc(50% - 0.25rem);
    width: 0.5rem;
    height: 0.5rem;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
}

.arrown-active {
    transform: rotate(-225deg);
}

/* tamanhos de telas */

@media (min-width: 650px) and (max-width: 999px){
    .calendar {
        grid-template-columns: 8fr 0.5fr;
        grid-template-rows: 95px 3fr;
        grid-template-areas:
            'c l'
            'd l';
    }

    .current {
        height: 30%;
    }

    .input-active {
        grid-template-columns: 8fr 8.5fr;
    }
    
    .input {
        border: 1px solid #0f0f0f;
        width: 87%;
        height: 85%;
        position: absolute;
        top: calc(50% - var(--inputSize)/2);
        left: var(--buttonSize);
        background: #1e1e1e;
        resize: none;
        color: #ffffff;
    }
    

    .containerArrown {
        width: var(--buttonSize);
        height: 100%;
        position: relative;
    }

    .arrown {
        transform: rotate(-135deg);
        top: 55%;
        left: 10px;
        max-width: 0.5rem;
        max-height: 0.5rem;
    
    }

    .arrown-active {
        transform: rotate(45deg);
    }
    
    .months {
        right: 0;
        bottom: -100%;
        transition: bottom 1s ease-in-out;
    }

    .months-active {
        bottom: 0;
    }


}



@media (min-width: 1000px) {
    .calendar {
        max-height: 790px;
        width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 140px 8fr;
        border-radius: 60px;
        grid-template-areas:
            'c l'
            'd l';
    
    }
    
    .months {
        width: 50%;
        height: calc(100% - 140px);

    }

    .months-active {
        right: 50%;
    }

    .containerArrown {
        display: none;
    }

    .arrown {
        display: none;

    }

    .input {
        position: initial;
    }

    .containerList {
        display: none;
    }

    tr:nth-child(6) td:nth-child(1) {
        border-bottom-left-radius: 60px;
    
    }

    .list {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input {
        background: #0f0f0f;
        height: 95%;
        width: 95%;
        border-radius: 0 60px 60px 0;
    }
}