.days {
    table-layout: fixed;
    width: 100%;
    
}

.weekend {
    color: var(--colorWeekend);

}

.days td {
    color: var(--colorDay);
    border-radius: 15px;

}

.days .valid_day {
    color: var(--colorValidDay);

}

.days .valid_day_weekend {
    color: var(--colorWeekend);

}

.days .marked {
    text-decoration: underline 3px;
    text-decoration-color: var(--colorMarked);

}

.current {
    background-color: var(--colorCurrentDay);

}

.selected {
    box-shadow: 0px 0px 5px var(--colorSelectedShadow);
    background-color: var(--colorSelected);

}

